#map {
    height: 100%;
    margin-left: 0;
    margin-top: 0;
}

#drop-area {
    height: 100%;
    margin-left: 0;
    margin-right: 0;
}

    #drop-area.highlight {
        background-image: url('drag.png');
    }

p {
    margin-top: 0;
}

.my-form {
    margin-bottom: 0;
    height: 100%;
}

#gallery {
    margin-top: 10px;
}

    #gallery img {
        width: 150px;
        margin-bottom: 10px;
        margin-right: 10px;
        vertical-align: middle;
    }

#fileElem {
    display: none;
}

.list-group-item {
    margin-top: 0px;
}

.List {
    font-size: 15px;
    font-weight: 900;
    margin-left: 200px;
    padding-left: 200px;
}

.AList {
    font-size: 15px;
    font-weight: 900;
}

.dynamicLabel {
    font-weight: 300;
    color: gray;
    margin: auto;
}

th {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}


span {
    margin: 5px;
}

td {
    align-content: center;
}

#delImg {
    margin-top: 7px;
    margin-left: 60px;
}

li {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 1rem;
    font-weight: 450;
    line-height: 1.1;
}

.my-custom-scrollbar {
    position: relative;
    height: 400px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

.th {
    font-size: 30px;
}
